<h1>Editing Entity Wallet Config</h1>

<%= render 'form', entity_wallet_config: @entity_wallet_config %>

<%= link_to 'Show', @entity_wallet_config %> |
<%= link_to 'Back', entity_wallet_configs_path %>
