<h1>Editing Division Activity Lov</h1>

<%= render 'form', division_activity_lov: @division_activity_lov %>

<%= link_to 'Show', @division_activity_lov %> |
<%= link_to 'Back', division_activity_lovs_path %>
