<h1>Editing Entity Service Account Trxn</h1>

<%= render 'form', entity_service_account_trxn: @entity_service_account_trxn %>

<%= link_to 'Show', @entity_service_account_trxn %> |
<%= link_to 'Back', entity_service_account_trxns_path %>
