
<div class="container">
  <!--<div class="row">-->
  <!--<h4 style="text-decoration: underline;"><strong>MERCHANTS   </strong></h4>-->


  <div class="w3-responsive">
<!--    <button type="button" class="btn btn-outline-purple tablink w3-vpos-purple" style="font-size: small; width: 150px;" onclick="openCity(event, 'for_home')">DASHBOARD</button>-->
    <!--    <button type="button" class="btn btn-outline-purple tablink" style="font-size: small; width: 165px;" onclick="openCity(event, 'entity_division')">MERCHANT DIVISION</button>-->
  </div>


  <div id="for_home" class="city active">
    <% if current_user.validator? %>
    <% else %>
      <%= render :partial=> "/home/home_index" %>
    <% end %>
  </div>
  

  <!--  <div id="entity_division" class="city" style="display:none">-->
  <%#= render :partial=> "/entity_divisions/entity_index" %>
  <!--  </div>-->

  <script>
      function openCity(evt, cityName) {
          var i, x, tablinks;
          x = document.getElementsByClassName("city");
          for (i = 0; i < x.length; i++) {
              x[i].style.display = "none";
          }
          tablinks = document.getElementsByClassName("tablink");
          for (i = 0; i < x.length; i++) {
              tablinks[i].className = tablinks[i].className.replace(" w3-vpos-purple", "");
          }

          document.getElementById(cityName).style.display = "block";
          evt.currentTarget.className += " w3-vpos-purple";
      }
  </script>

  <!--</div>-->
</div>
