<h1>New external services param</h1>

<%= render "form", external_services_param: @external_services_param %>

<br>

<div>
  <%= link_to "Back to external services params", external_services_params_path %>
</div>
