<h1>Editing Activity Sub Div Class</h1>

<%= render 'form', activity_sub_div_class: @activity_sub_div_class %>

<%= link_to 'Show', @activity_sub_div_class %> |
<%= link_to 'Back', activity_sub_div_classes_path %>
