
<%#= render 'form', entity_division: @entity_division %>

<div class="w3-container" >
  <div id="id01" class="w3-modal w3-animate-opacity" style=" display: block">
    <!--<div class="w3-modal-content w3-card-4" >-->
<!--    <br/>-->

    <%= render 'form' %>

    <br/>
<!--    <div class="col-md-7 col-md-offset-5">-->
<!--      <br/>-->
<!--      <br/>-->
<!--    </div>-->
    <!--</div>-->


  </div>
</div>