

<div class="w3-container" >
  <div id="id01" class="w3-modal w3-animate-opacity" style=" display: block">
    <!--<div class="w3-modal-content w3-card-4" >-->
    <!--<br/>-->

    <div class="">

      <div class="w3-white w3-hover-shadow col-md-4 offset-md-4 w3-card-4 w3-border w3-border-purple rcorners w3-center">
<!--        <h4 class="show w3-center"><strong>RESEND TICKET</strong></h4>-->
<!--        <p id="notice2"><strong></strong></p>-->


        <div class="w3-container w3-border w3-border-purple">
          <br/>
          <%  %>
          <%  %>

          <div class="w3-container w3-responsive pre-scrollable w3-mobile">
            <p id="notice2"><strong><%= render 'layouts/messages' %></strong></p>
          </div>

          <br/>
          <div class="w3-center">
            <%= link_to 'Back', payment_info_index_path(params: params.to_unsafe_h, page: params[:page], count: params[:count]), class: 'w3-button w3-white w3-border w3-border-purple w3-small w3-round-large', remote: true %>
          </div>
          <br/>
        </div>
        <br>
      </div>

    </div>

    <!--</div>-->
    <!--<br>-->
    <div class="">
      <br><br>
    </div>
  </div>

</div>







