<div class="container">
  <!--<div class="row">-->
  <h4 style="text-decoration: underline;"><strong>CLIENT WEBHOOK CONFIGURATIONS</strong></h4>

  <div class="w3-responsive">

    <div id="client_webhook" class="city active">
      <%= render :partial=> "client_webhook_index" %>
    </div>

    <!--</div>-->
  </div>
</div>

<!--<p style="color: green"><%#= notice %></p>-->

<!--<h1>Client webhook configs</h1>-->

<!--<div id="client_webhook_configs">-->
  <%# @client_webhook_configs.each do |client_webhook_config| %>
    <%#= render client_webhook_config %>
<!--    <p>-->
      <%#= link_to "Show this client webhook config", client_webhook_config %>
<!--    </p>-->
  <%# end %>
<!--</div>-->

<%#= link_to "New client webhook config", new_client_webhook_config_path %>
