
<div class="container">
  <!--<div class="row">-->
  <h4 style="text-decoration: underline;"><strong>ACTIVITY CATEGORIES</strong></h4>

  <div class="w3-responsive">

    <div id="activity_category" class="city active">
      <%= render :partial=> "activity_category_index" %>
    </div>

    <!--</div>-->
  </div>
</div>
