<h1>Editing Entity Div Sub Activity</h1>

<%= render 'form', entity_div_sub_activity: @entity_div_sub_activity %>

<%= link_to 'Show', @entity_div_sub_activity %> |
<%= link_to 'Back', entity_div_sub_activities_path %>
