<div class="container">
  <!--<div class="row">-->
  <h4 style="text-decoration: underline;"><strong></strong>Division References</h4>

  <div class="w3-responsive">
    <div id="division_refs" class="city active">
      <%= render :partial=> "entity_div_ref_lookup_index" %>
    </div>
  </div>
</div>


<!--<p style="color: green"><%#= notice %></p>-->

<!--<h1>Entity div ref lookups</h1>-->

<!--<div id="entity_div_ref_lookups">-->
  <%# @entity_div_ref_lookups.each do |entity_div_ref_lookup| %>
    <%#= render entity_div_ref_lookup %>
<!--    <p>-->
      <%#= link_to "Show this entity div ref lookup", entity_div_ref_lookup %>
<!--    </p>-->
  <%# end %>
<!--</div>-->

<%#= link_to "New entity div ref lookup", new_entity_div_ref_lookup_path %>
