
<div class="container">
  <!--<div class="row">-->
  <h4 style="text-decoration: underline;"><strong>ACTIVITY CODES</strong></h4>

  <div class="w3-responsive">

    <div id="sub_activity_master" class="city active">
      <%= render :partial=> "sub_activity_master_index" %>
    </div>

    <!--</div>-->
  </div>
</div>
